@model Product

<div class="card shadow boarder-0 mt-4 rounded">
    <div class="card-header bg-primary bd-gradient ml-0 pl-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Edit">
            <div class="border pt-3">
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Id"></label>
                    <input asp-for="Id" class="form-control disabled"/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ISBN"></label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Author"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ListPrice"></label>
                    <input asp-for="ListPrice" class="form-control" />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price50"></label>
                    <input asp-for="Price50" class="form-control" />
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Price100"></label>
                    <input asp-for="Price100" class="form-control" />
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Back to list
                </a>
            </div>
</form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
