@model Category

<div class="card shadow boarder-0 mt-4 rounded">
    <div class="card-header bg-primary bd-gradient ml-0 pl-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="DeletePOST">
            <div class="border">
                <input asp-for="Id" hidden />
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" readonly />
                </div>
                <div class="mb-4">
                    <label asp-for="DisplayOrder"></label>
                    <input asp-for="DisplayOrder" class="form-control" readonly />
                </div>
                <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Back to list
                </a>
            </div>
        </form>
    </div>
</div>



